@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_box_bg {
  background-image: url("../src/assets/images/hero/bg_hero.png");
}

.hero_box_bg,
.hero_bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.heroRightBg {
  background-color: transparent;
  background-image: url("../src/assets/images/hero/ellipse.png");
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: top right;
}

.ctaRightBg {
  background-color: transparent;
  background-image: url("../src/assets/images/cta/blueEllipse.png");
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: right top;
}

@media only screen and (max-width: 1480px) {
  .max_width {
    width: 94%;
  }
}

/* @media only screen and (max-width: 1220px) {
  .hero_section_1 {
    min-width: 40%;
    padding-left: 30px !important;
  }
  .hero_section_p {
    width: 100%;
  }
  .nav {
    padding-right: 40px;
  }
  .hero_section_2 {
    min-width: 60%;
  }
} */

@media only screen and (max-width: 1023px) {
  .hero_box_bg {
    background-image: none;
  }
  /* .hero_section_1 {
    min-width: 100%;
    padding-left: 20px !important;
  }
  .hero_section_p,
  .hero_section_p2 {
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
  } */
}
@media only screen and (max-width: 500px) {
  .ctaRightBg {
    background-image: none;
  }
}

._movingTexts::-webkit-scrollbar {
  display: none;
}

._movingTexts div {
  animation: moving 7s linear 0s infinite forwards;
}

@keyframes moving {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Optional: apply this specifically to certain elements */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
